{% extends "blog/base.html" %}
{% block content %}
    <h2 class="text-center">You logged out</h2>
    <div class="border-top pt-3 text-center">
        <small class="text-muted">
          <form method="POST" action="{% url 'login' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link mx-auto d-block text-center" style="padding: 0; border: none; background: none;">Log in again</button>
        </form>
        
        
        </small>
    </div>
{% endblock content %}
