{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img"
                 src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}/media/default.jpg{% endif %}"
                 alt="Profile Image"
                 style="width: 100px; height: 100px; object-fit: cover;">
            <div class="media-body ml-4">
                <h2 class="accounting-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
             </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>  
    </div>
{% endblock content %}


